
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
}

p{
    color: white;
    margin-bottom:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}
#logo{
    height:150px;
    width:250px;
    background-image: url("assets/cake.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-color:black;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
#headLogo{
   position:absolute;
   width:100%;
   display: flex;
   justify-content: center;
}


#div1{
    height:70px;
    width:100%;
    background-color: brown;
}

#div2{
    height:430px;
    width:100%;
    background-color:blueviolet;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px;
}
#div3{
    height:130px;
    width:100%;
    background-color:brown;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.layer1{
    width: 245px;
    height:30px;
    border-radius:15px;
    background-color:orange;
}

.layer2{
    width: 200px;
    left: 40px;
    height:30px;
    border-radius:15px;
    background-color:pink;
}


.layer3{
    width: 160px;
    left: 60px;
    height:30px;
    border-radius:15px;
    background-color:yellow;
}


.layer4{
    width: 120px;
    left: 80px;
    height:30px;
    border-radius:15px;
    background-color:white;
}


.layer5{
    width: 80px;
    left: 100px;
    height:30px;
    border-radius:15px;
    background-color:red;
}
#cake{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub{
    position:absolute;
    height:272px;
    width:290px;
    padding-left:44px;
    padding-top:25px;
    color:white;
}
.item,.total{
    margin-top:10px;
}
.price,.bill{
    padding-left:70px;
}
.chocolate,.strawBerry,.butterScotch,.redVelvet,.vanilla{
    display:none;
}
#buttonChocolate,#buttonStrawBerry,#buttonButterScotch,#buttonVanilla,#buttonRedVelvet,#buttonBuy{
    height:30px;
    width:130px;
    background-color: blueviolet;
    color:white;
    font-size: 20px;
    border-radius: 20px;
}
#button-Chocolate,#button-StrawBerry,#button-ButterScotch,#button-Vanilla,#button-RedVelvet{
    height:60px;
    width:160px;
    background-color: blueviolet;
    color:white;
    font-size: 20px;
    border-radius: 20px;
}
#candle{
    display:none;
    height:60px;
    width:40px;
    
}






